// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.list-group-wrapper {
    position: relative;
}

.list-group {
    overflow: auto;
    height: 40vh;
     border-radius: 5px;
}

.list-group-item{
    margin-top: 1px;
    border-left: none;
    border-right: none;
    border-top: none;
 }
